@use "../abstracts" as *;

#projects {
  text-align: left; //for sub-title

  & .project-sub-title {
    @include sub-title(left);
  }

  & .project-title {
    margin-bottom: 0.5rem;
  }

  & .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 10vh 5vw;
    margin: auto;
    flex-flow: wrap;

    @include mobile {
      grid-template-columns: repeat(auto-fill, 90vw);
    }
  }
}
