@use "../../../styles/abstracts/" as *;

.header {
  background-color: $color-black;
  display: flex;

  & .header-title {
    display: block;
    font-size: $font-size-main-title;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 2;
    margin: 0.5rem 0 0 2vw;
  }

  & .header-refresh {
    color: white;
    text-decoration: none;
  }
}
