@use "variables" as *;

/*responsive*/
@mixin mobile {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

/*title*/
@mixin main-title($margin-bottom) {
  text-align: center;
  font-size: $font-size-main-title;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-black;
  margin-bottom: $margin-bottom;
}

@mixin sub-title($side) {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: $font-size-sub-title;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-white;
  margin-bottom: 2rem;

  &::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 0.9em;
    border-bottom: 1px solid white;
  }

  @if #{$side} == left {
    margin-left: 15vw;
    &::before {
      right: -4rem;
    }
    @include mobile {
      margin-left: 8vw;
    }
  } @else if #{$side} == right {
    margin-right: 15vw;
    &::before {
      left: -4rem;
    }
    @include mobile {
      margin-right: 8vw;
    }
  } @else {
    @error "side is either left or right";
  }
}

/*gap*/
@mixin main-margin-bottom {
  margin-bottom: 23vh;

  @include mobile {
    margin-bottom: 17vh;
  }
}

@mixin sub-margin-bottom {
  margin-bottom: 19vh;

  @include mobile {
    margin-bottom: 17vh;
  }
}

@mixin sub-page-padding {
  background-color: $color-black;
  color: $color-white;
  padding-top: 3rem;
  padding-bottom: 12vh;
}

/*width*/
@mixin width {
  width: 70vw;
  margin: auto;

  @include tablet {
    width: 90vw;
  }
}
