@use "variables" as *;

@mixin mobile {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 780px) {
    @content;
  }
}

@mixin main-title {
  text-align: center;
  font-size: $font-size-title;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin sub-title {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: $font-size-large;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 15vw;

  @include tablet {
    margin-left: 3vw;
  }

  &::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 0.9em;
    right: -4rem;
    border-bottom: 1px solid $color-black;
  }
}
