@use "../../../styles/" as *;

#project-section {
  @include tablet {
    padding: 100px 0 100px 0;
  }

  & .project-heading {
    @include sub-title(left);
    color: $color-font;
  }

  & .project-card-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  // & .project-card-centering {
  // }
}
