@use "../../../styles/" as *;

#contact-section {
  position: relative;
  height: calc(100vh - 70px); //footer height

  @include tablet {
    padding: 100px 0 100px 0;
  }

  & .contact-group {
    padding: 0 15px;
  }

  & .contact-h {
    @include main-title(45px);
  }

  & .contact-container {
    display: flex;
    gap: 120px;

    @include tablet {
      gap: 0;
    }

    & .contact-element {
      width: 50%;
      margin: auto;

      /*Left Side*/
      &#message-element {
        text-align: center;

        & p {
          margin-bottom: 1rem;
        }
      }

      /*Right Side*/
      // &#form-element {
      // }
    } //end of contact-element

    @include tablet {
      flex-direction: column;

      & .contact-element {
        width: 620px;
        // width:1310;
        max-width: 100%;
      }
    } //end of tablet
  } //end of contact-container

  & footer {
    position: absolute;
    width: 100%;
    bottom: -70px; //footer height
  }
} //end of main-section
