@use "../../../styles/" as *;

#contact-section {
  position: relative;
  height: calc(100vh - 70px); //footer height = 70px

  @include tablet {
    height: auto;
    padding: 100px 0 170px 0;
  }

  & .contact-h {
    @include main-title(45px);
  }

  & .contact-text-container {
    display: flex;
    gap: 100px;

    @include tablet {
      gap: 10px;
    }

    & .contact-element {
      width: 50%;
      margin: auto;

      /*Left Side*/
      &#message-element {
        text-align: center;

        & p {
          margin-bottom: 1rem;
          font-size: $font-size-p;
        }
      }

      /*Right Side*/
      // &#form-element {
      // }
    } //end of contact-element

    @include tablet {
      flex-direction: column;

      & .contact-element {
        width: 100%;
        max-width: 620px;
      }
    }
  } //end of contact-container

  //for HOME page
  & footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
} //end of main-section
