@use "../../../styles/" as *;

#about-section {
  @include tablet {
    padding: 100px 0 100px 0;
  }

  /*Upper Part*/
  & .about-me {
    margin-bottom: 90px; //gap, about-me|my-skills // +1rem

    & .about-me-h {
      @include main-title(30px);
      margin-bottom: 50px;

      @include tablet {
        margin-bottom: 30px;
      }
    }

    & .about-me-p {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      margin: 1rem auto;
      line-height: 1.7rem;

      @include tablet {
        width: 100%;
      }
    }
  }

  /*Lower Part*/
  .skill-container {
    text-align: right;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(255, 255, 255, 0.2);

    & .skill-title {
      @include sub-title(right); //gap, title|skill-cards
    }

    & .skill-list {
      margin: auto;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, 80px);
      justify-content: space-between;
      gap: 40px 10px; //gap, each items

      @include tablet {
        gap: 40px 40px; //gap, each items
      }

      @include mobile {
        gap: 40px 10px; //gap, each items
      }

      //text color
      * {
        color: black;
      }
    }
  } //end of skills
} //end of about
