@use "../abstracts" as *;

#about {
  @include main-page-margin-bottom;

  & .about-me {
    @include sub-page-margin-bottom; //aboutme-myskill gap

    & .about-me-h {
      @include main-title;
    }

    & .about-me-p {
      font-size: $font-size-h;
      margin: 1rem auto;
      width: 70vw;
      line-height: 1.6rem;

      @include tablet {
        width: 90vw;
      }
    }
  }
} //end of about
