@use "../abstracts" as *;

#about {
  & .about-me {
    @include main-margin-bottom;

    & .about-me-h {
      @include main-title(10vh);

      @include mobile {
        margin-bottom: 5vh;
      }
    }

    & .about-me-p {
      font-size: $font-size-p;
      margin: 1rem auto;
      width: 70vw;
      line-height: 1.6rem;

      @include tablet {
        width: 90vw;
      }
    }
  }
} //end of about
