@use "../abstracts" as *;

#contact {
  @include sub-page-margin-bottom;

  & .contact-h {
    @include main-title;
  }

  //contact buttons [emial, github, codepen]
  & .contact-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    @include width;

    & .contact-item {
      display: inline-block;
      text-decoration: none;
      font-size: $font-size-h;
      padding: 0.5rem 1rem;
      border: 1px solid $color-black;
      color: $color-white;
      background-color: $color-black;

      &:hover {
        color: $color-black;
        background-color: $color-white;
      }
    }
  } //end of contact-container
}
