@use "variables" as *;

/*responsive*/
@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

/*titles*/
@mixin main-title($margin-bottom) {
  text-align: center;
  font-size: $font-size-title;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-primary-dark;
  margin-bottom: $margin-bottom;
} //end of main-title

@mixin sub-title($side) {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: $font-size-h;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-background;
  margin-bottom: 5rem;

  @include mobile {
    margin-bottom: 3.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 0.9em;
    border-bottom: 1px solid white;
  }

  @if #{$side} == left {
    margin-left: 15vw;
    &::before {
      right: -4rem;
    }
    @include mobile {
      margin-left: 8vw;
    }
  } @else if #{$side} == right {
    margin-right: 15vw;
    &::before {
      left: -4rem;
    }
    @include mobile {
      margin-right: 8vw;
    }
  } @else {
    @error "side is either left or right";
  }
} //end of sub-title
