//colors
$color-main: #171c4d;
$color-sub: #ffa32c;
$color-gray: #aaa;

$color-white: white;
$color-black: #0d102b;

$color-background: #fefefe;
$color-font: rgba(255, 255, 255, 0.9);

//font-sizes
$font-size-navbar: 19px;

$font-size-title: 28px;
$font-size-h: 24px;
$font-size-p: 19px;

$font-size-footer: 12px;
