@use "../../../styles/abstracts/" as *;

#project-section {
  background-image: url("../assets/visuals/backgrounds/wave_lines.webp");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: $color-primary-dark;
  padding: 110px 0 210px 0; //gap

  @include mobile {
    padding: 50px 0 70px 0;
  }

  & .project-sub-title {
    @include sub-title(left);
  }

  & .project-container {
    display: flex;
    flex-flow: column;
    width: 1280px;
    max-width: 100%;
    margin: auto;
    gap: 300px; //gap, each project

    @include mobile {
      gap: 150px;
    }
  }
}
