@use "../../../styles/abstracts/" as *;

#skills {
  text-align: right;
  background-image: url("../assets/visuals/backgrounds/hexagonal_pattern.webp");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: $color-black;
  color: $color-white;
  padding: 70px 0 150px 0; //gap

  @include mobile {
    padding: 70px 0 150px 0; //gap
  }

  & .skill-title {
    @include sub-title(right);
  }

  & .skill-list {
    color: white;
    margin: auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 10vw));
    justify-content: space-evenly;
    gap: 4rem 1rem; //gap, each items
    width: 1280px;
    max-width: 100%;
  }
} //end of skills
