$color-primary: #00102b;
$color-secondary: #ffa32c;
$color-gray: #aaa;
$color-background: #fdfdfd;
$color-font: rgb(0 0 0 / 0.9);
$color-font-light: #333741;
$color-font-white: rgba(255, 255, 255, 0.9);
$color-border: #00102b20;

$font-size-title: 32px;
$font-size-h: 24px;
$font-size-p: 18px; //for "Unna", serif
$font-size-small: 16px; //for "Unna", serif
$font-size-footer: 12px;

@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
