@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&family=Unna&display=swap");
/*responsive*/
/*title*/
/*gap*/
/*width*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unna", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

.app {
  position: relative;
  isolation: isolate;
}

.header {
  background-color: #0d102b;
  display: flex;
}
.header .header-title {
  display: block;
  font-size: calc(22px + 1vmin);
  font-weight: 500;
  text-transform: uppercase;
  z-index: 2;
  margin: 0.5rem 0 0 2vw;
}
.header .header-refresh {
  color: white;
  text-decoration: none;
}

footer {
  position: relative;
  display: block;
  background-color: #0d102b;
  color: whitesmoke;
}
footer .top-button {
  position: absolute;
  top: -2.5rem;
  right: 3rem;
  border: 0;
  outline: 0;
  width: 0;
}
footer .top-button:hover::before {
  border-color: black;
}
footer .top-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: solid #aaa;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-135deg);
  cursor: pointer;
}
footer .footer-div#first-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 0 1rem;
  height: 4vh;
}
footer .footer-div#first-div .footer-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  transform: translateY(2px);
}
footer .footer-div#first-div .footer-list .footer-item {
  position: relative;
  font-size: calc(11px + 0.5vmin);
}
footer .footer-div#first-div .footer-list .footer-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: -0.5rem;
  border-right: 1px solid #aaa;
  height: 0.8rem;
  border-color: #aaa;
}
footer .footer-div#first-div .footer-list .footer-item#last-item::before {
  content: none;
}
footer .footer-div#first-div .footer-list .footer-item .footer-anchor {
  text-decoration: none;
  color: #aaa;
  font-family: sans-serif;
}
footer .footer-div#second-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #1e1e1e;
  height: 4vh;
}
footer .footer-div#second-div .footer-copyright {
  font-size: calc(11px + 0.5vmin);
  font-family: sans-serif;
  color: #aaa;
  white-space: nowrap;
}

#home {
  margin: auto;
  margin-bottom: 50vh;
  margin-top: 22vh;
}
@media only screen and (max-width: 1024px) {
  #home {
    margin-bottom: 35vh;
  }
}
#home .home-text-container {
  margin: auto;
  text-align: center;
  margin-bottom: 30vh;
  /*texts*/
}
@media only screen and (max-width: 640px) {
  #home .home-text-container {
    margin-bottom: 20vh;
  }
}
#home .home-text-container .home-title {
  font-weight: 100;
  font-size: calc(30px + 5vmin);
  margin-bottom: 12vh;
}
#home .home-text-container .home-title .title-element {
  font-weight: 100;
  font-size: calc(30px + 5vmin);
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 0.5rem;
  color: #0d102b;
}
#home .home-text-container .home-title .title-element .title-element-span {
  position: relative;
  display: inline;
  padding: 0rem 0.5rem 0.2rem 0.5rem;
  background-color: #0d102b;
  white-space: nowrap;
  color: whitesmoke;
}
#home .home-text-container .home-title .title-element .title-element-span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0d102b;
}
#home .home-text-container .home-title .title-element .title-element-span#first-span::before {
  -webkit-animation: reveal 1.5s ease 0.5s forwards;
          animation: reveal 1.5s ease 0.5s forwards;
}
#home .home-text-container .home-title .title-element .title-element-span#second-span::before {
  -webkit-animation: reveal 1.5s ease 1.4s forwards;
          animation: reveal 1.5s ease 1.4s forwards;
}
@-webkit-keyframes reveal {
  100% {
    left: 99%;
  }
}
@keyframes reveal {
  100% {
    left: 99%;
  }
}
#home .home-text-container .home-intro {
  width: 75vw;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  #home .home-text-container .home-intro {
    width: 90vw;
  }
}
#home .home-text-container .home-intro .intro-greeting {
  line-height: 1.5rem;
  font-size: calc(18px + 0.5vmin);
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  transform: translateY(-2rem);
  opacity: 0;
  -webkit-animation: text-landing 1s ease 2.2s forwards;
          animation: text-landing 1s ease 2.2s forwards;
}
#home .home-text-container .home-intro .intro-about {
  line-height: 1.5rem;
  font-size: calc(18px + 0.5vmin);
  transform: translateY(-2rem);
  opacity: 0;
  -webkit-animation: text-landing 1s ease 2.4s forwards;
          animation: text-landing 1s ease 2.4s forwards;
}
@-webkit-keyframes text-landing {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes text-landing {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#about {
  margin: auto;
  margin-bottom: 50vh;
}
@media only screen and (max-width: 1024px) {
  #about {
    margin-bottom: 35vh;
  }
}
#about .about-me {
  margin-bottom: 30vh;
}
@media only screen and (max-width: 640px) {
  #about .about-me {
    margin-bottom: 20vh;
  }
}
#about .about-me .about-me-h {
  text-align: center;
  font-size: calc(22px + 1vmin);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0d102b;
  margin-bottom: 5vh;
}
#about .about-me .about-me-p {
  font-size: calc(18px + 0.5vmin);
  margin: 1rem auto;
  width: 70vw;
  line-height: 1.6rem;
}
@media only screen and (max-width: 1024px) {
  #about .about-me .about-me-p {
    width: 90vw;
  }
}

#contact {
  margin-bottom: 30vh;
  margin-top: 5vh;
}
@media only screen and (max-width: 640px) {
  #contact {
    margin-bottom: 20vh;
  }
}
#contact .contact-h {
  text-align: center;
  font-size: calc(22px + 1vmin);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0d102b;
  margin-bottom: 5vh;
}
#contact .contact-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 70vw;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  #contact .contact-container {
    width: 90vw;
  }
}
#contact .contact-container .contact-item {
  display: inline-block;
  text-decoration: none;
  font-size: calc(18px + 0.5vmin);
  padding: 0.5rem 1rem;
  border: 1px solid #0d102b;
  color: whitesmoke;
  background-color: #0d102b;
}
#contact .contact-container .contact-item:hover {
  color: #0d102b;
  background-color: whitesmoke;
}

.contact-form {
  margin: auto;
  background-color: whitesmoke;
  height: auto;
  width: 650px;
}
@media only screen and (max-width: 1024px) {
  .contact-form {
    width: 90vw;
  }
}

.form-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
@media only screen and (max-width: 640px) {
  .form-input-container {
    flex-direction: column;
    justify-content: left;
    gap: 0;
  }
}

.form-element {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  padding: 5px 0;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 640px) {
  .form-element {
    width: 100%;
  }
}
.form-element .form-label {
  pointer-events: none;
  transform-origin: left bottom;
  font-size: calc(20px + 0.5vmin);
  transform: translate(0, 1.4rem) scale(1);
  transition: inherit;
}
.form-element .form-input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 2px;
  background-color: whitesmoke;
  text-overflow: ellipsis;
  transition: inherit;
  font-size: 18px;
}
.form-element .form-input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}
.form-element .form-input:focus {
  outline: none;
  border-bottom: 1px solid #0d102b;
}
.form-element .form-input:focus + .form-label {
  transform: translate(0, 0rem) scale(0.8);
}
.form-element .form-input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.form-element .form-input:not(:-moz-placeholder-shown) {
  border-bottom: 1px solid #0d102b;
}
.form-element .form-input:not(:-ms-input-placeholder) {
  border-bottom: 1px solid #0d102b;
}
.form-element .form-input:not(:placeholder-shown) {
  border-bottom: 1px solid #0d102b;
}
.form-element .form-input:not(:-moz-placeholder-shown) + .form-label {
  transform: translate(0, 0rem) scale(0.8);
}
.form-element .form-input:not(:-ms-input-placeholder) + .form-label {
  transform: translate(0, 0rem) scale(0.8);
}
.form-element .form-input:not(:placeholder-shown) + .form-label {
  transform: translate(0, 0rem) scale(0.8);
}

#form-element-textarea {
  width: 100%;
  padding: 20px 0;
}
#form-element-textarea #form-label-textarea {
  padding: 2px 0;
  transform: scale(1);
}
#form-element-textarea #form-input-textarea {
  border: 1px solid #aaa;
  line-height: 1.1rem;
  resize: none;
  padding: 0.3rem;
}
#form-element-textarea #form-input-textarea:focus {
  border: 1px solid #0d102b;
}
#form-element-textarea #form-input-textarea:focus + #form-label-textarea {
  transform: scale(0.8);
}
#form-element-textarea #form-input-textarea:not(:-moz-placeholder-shown) {
  border: 1px solid #0d102b;
}
#form-element-textarea #form-input-textarea:not(:-ms-input-placeholder) {
  border: 1px solid #0d102b;
}
#form-element-textarea #form-input-textarea:not(:placeholder-shown) {
  border: 1px solid #0d102b;
}
#form-element-textarea #form-input-textarea:not(:-moz-placeholder-shown) + #form-label-textarea {
  transform: scale(0.8);
}
#form-element-textarea #form-input-textarea:not(:-ms-input-placeholder) + #form-label-textarea {
  transform: scale(0.8);
}
#form-element-textarea #form-input-textarea:not(:placeholder-shown) + #form-label-textarea {
  transform: scale(0.8);
}
#form-element-textarea #textarea-length {
  width: 100%;
  display: inline-block;
  text-align: right;
  color: black;
  font-size: x-small;
}

#form-input-submit {
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #0d102b;
  border-radius: 0;
  background-color: #0d102b;
  color: whitesmoke;
  transition: none;
}
#form-input-submit:hover {
  background-color: whitesmoke;
  color: #0d102b;
}
#form-input-submit:active {
  color: #aaa;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  transform: translateY(-25px);
  top: 25px;
  width: 100%;
  background-color: #0d102b;
  color: whitesmoke;
  z-index: 1;
  transition: all 0.5s ease;
  border-bottom: 1px solid rgba(240, 240, 240, 0.4);
}
nav.navup {
  transform: translateY(calc(-100% - 26px));
}
nav.navdown {
  transform: translateY(-25px);
}
@media only screen and (max-width: 1024px) {
  nav {
    transform: translateY(-4px);
    top: 4px;
  }
  nav.navup {
    transform: translateY(calc(-100% - 5px));
  }
  nav.navdown {
    transform: translateY(-4px);
  }
}

.nav-list {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  gap: 7vw;
  padding: 7px;
  transition: all ease 0.3s;
  transition-property: color;
}
.nav-list:hover > * {
  color: #aaa;
}
.nav-list .nav-item {
  text-transform: uppercase;
  font-size: calc(17px + 0.5vmin);
  display: inline-block;
  cursor: pointer;
  transition: inherit;
  color: whitesmoke;
}
.nav-list .nav-item:hover {
  color: white;
}

.projects {
  background-color: lightgreen;
}
.projects .project-sub-title {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: calc(20px + 0.5vmin);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0d102b;
  margin-bottom: 2rem;
  margin-left: 15vw;
}
.projects .project-sub-title::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.9em;
  border-bottom: 1px solid #0d102b;
}
.projects .project-sub-title::before {
  right: -4rem;
}
@media only screen and (max-width: 640px) {
  .projects .project-sub-title {
    margin-left: 8vw;
  }
}
.projects .project-container {
  display: flex;
  flex-flow: wrap;
  gap: 5vw;
  margin: auto;
  width: 75vw;
  background-color: lightblue;
}
@media only screen and (max-width: 640px) {
  .projects .project-container {
    width: 90vw;
  }
}

.project-card {
  position: relative;
  border: 1px solid #171c4d;
  background-position: center;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 200px;
  overflow: hidden;
  background-color: lightcoral;
}
.project-card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, #171c4d 80%, #171c4d 100%);
}
.project-card .project-thumbnail {
  width: 100%;
  height: auto;
}
.project-card .project-detail {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: all 0.5s ease 2s;
  overflow: hidden;
}
.project-card .project-detail.hovered {
  visibility: visible;
  opacity: 1;
}
.project-card .project-detail .project-h {
  font-weight: 100;
}
.project-card .project-detail .project-p {
  font-family: sans-serif;
  font-size: calc(18px + 0.5vmin);
}
.project-card .project-detail .project-with .built-with-item {
  margin-right: 2rem;
}

#skills {
  text-align: right;
}
#skills .skill-title {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: calc(20px + 0.5vmin);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0d102b;
  margin-bottom: 2rem;
  margin-right: 15vw;
}
#skills .skill-title::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.9em;
  border-bottom: 1px solid #0d102b;
}
#skills .skill-title::before {
  left: -4rem;
}
@media only screen and (max-width: 640px) {
  #skills .skill-title {
    margin-right: 8vw;
  }
}
#skills .skill-list {
  width: 75vw;
  margin: auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 10vw));
  justify-content: space-evenly;
  gap: 3rem 1rem;
}
@media only screen and (max-width: 1024px) {
  #skills .skill-list {
    width: 90vw;
  }
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0d102b;
}
.skill-card svg {
  width: 3rem;
  height: auto;
  margin-bottom: 2px;
}

/*
font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Unna', serif;
*//*# sourceMappingURL=style.css.map */