@use "./scss/About";
@use "./scss/App";
@use "./scss/Contact";
@use "./scss/ContactForm";
@use "./scss/Footer";
@use "./scss/Header";
@use "./scss/Home";
@use "./scss/Navbar";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins&family=Unna&display=swap");
/*
font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Unna', serif;
*/
