@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Unna&display=swap");
/*Variables*/
/*Mixins*/
:root {
  --section: 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unna", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdfd;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-page {
  flex-grow: 1;
}

header {
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 10px 50px;
  z-index: 999;
  /* Title */
  /* Nav */
}
@media only screen and (max-width: 1024px) {
  header {
    width: 100%;
    background-color: #fdfdfd;
  }
}
header .header-title {
  white-space: nowrap;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
  header .header-title {
    width: 100%;
    text-align: right;
  }
}
header .header-title .header-anchor {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
}

nav {
  /* Desktop */
  flex-grow: 1;
  text-align: right;
  transition: all 0.5s ease;
  /*end of Desktop*/
  /* Tablet */
  /*end of Tablet*/
}
nav .nav-input {
  display: none;
}
nav .nav-list {
  transition: all ease 0.3s;
  transition-property: color;
}
nav .nav-list:hover > * {
  color: #aaa;
}
nav .nav-list .nav-element {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  cursor: pointer;
  transition: inherit;
  color: rgba(0, 0, 0, 0.9);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav .nav-list .nav-element:not(:last-child) {
  margin-right: 4rem;
}
nav .nav-list .nav-element:hover {
  color: black;
}
@media only screen and (max-width: 1024px) {
  nav {
    position: static;
  }
  nav .nav-input + .nav-label {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  nav .nav-input + .nav-label .menu-bar {
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: black;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
  }
  nav .nav-input + .nav-label .menu-bar:nth-child(2) {
    top: 10px;
  }
  nav .nav-input:checked + .nav-label .menu-bar {
    width: 23px;
  }
  nav .nav-input:checked + .nav-label .menu-bar:nth-child(1) {
    top: 5px;
    rotate: 45deg;
  }
  nav .nav-input:checked + .nav-label .menu-bar:nth-child(2) {
    top: 5px;
    rotate: -45deg;
  }
  nav .nav-list {
    position: fixed;
    inset: 0 200px 0 0;
    background-color: #fdfdfd;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    opacity: 0.9;
  }
}

footer {
  position: relative;
  display: block;
  background-color: #f5f5f6;
}
footer .footer-div#first-div {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 2rem 10px 0;
  margin-left: auto;
}
@media only screen and (max-width: 1024px) {
  footer .footer-div#first-div {
    padding: 10px 15px 15px 0;
  }
}
footer .footer-div#first-div .footer-list {
  display: flex;
  gap: 1rem;
  list-style: none;
}
footer .footer-div#first-div .footer-list .footer-item {
  position: relative;
  font-size: 12px;
  /*contact divider*/
}
footer .footer-div#first-div .footer-list .footer-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: -0.5rem;
  border-right: 1px solid #aaa;
  height: 0.8rem;
  border-color: #aaa;
}
footer .footer-div#first-div .footer-list .footer-item#last-item::before {
  content: none;
}
footer .footer-div#first-div .footer-list .footer-item .footer-anchor {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
}
footer .footer-div#first-div .footer-list .footer-item .footer-anchor span {
  color: #0d102b;
  font-family: sans-serif;
}
footer .footer-div#first-div .footer-list .footer-item .footer-anchor:hover {
  color: #aaa;
}
footer .footer-div#first-div .footer-list .footer-item .footer-anchor svg {
  width: 14px;
}
footer .footer-div#second-div {
  text-align: center;
  padding-bottom: 10px;
}
footer .footer-div#second-div .footer-copyright {
  font-size: 12px;
  color: #0d102b;
  font-family: sans-serif;
  white-space: nowrap;
}

/* Home Page */
#home-page {
  position: relative;
  overflow: hidden;
  height: 100vh;
  transition: all 1s ease;
  /* Side Section Map */
}
@media only screen and (max-width: 1024px) {
  #home-page {
    overflow: auto;
  }
}
#home-page .section-map-container {
  display: none;
}
@media only screen and (min-width: 1440px) {
  #home-page .section-map-container {
    display: block;
    position: fixed;
    right: 4vw;
    bottom: 50%;
    z-index: 999;
  }
  #home-page .section-map-container .section-map-element {
    position: absolute;
    height: 47px;
    background-color: rgba(0, 0, 0, 0.1);
    list-style: none;
    border-radius: 999px;
    width: 3px;
    right: 0px;
    transition: all 0.5s ease;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1024px) {
  #home-page .section-map-container .section-map-element {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  #home-page .section-map-container .section-map-element:nth-child(1) {
    top: -139px;
  }
}
@media only screen and (min-width: 1440px) {
  #home-page .section-map-container .section-map-element:nth-child(2) {
    top: -62px;
  }
}
@media only screen and (min-width: 1440px) {
  #home-page .section-map-container .section-map-element:nth-child(3) {
    top: 15px;
  }
}
@media only screen and (min-width: 1440px) {
  #home-page .section-map-container .section-map-element:nth-child(4) {
    top: 92px;
  }
}
@media only screen and (min-width: 1440px) {
  #home-page .section-map-container.first .section-map-element:nth-child(1), #home-page .section-map-container.second .section-map-element:nth-child(2), #home-page .section-map-container.third .section-map-element:nth-child(3), #home-page .section-map-container.fourth .section-map-element:nth-child(4) {
    width: 6px;
    right: -2px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* Main Sections */
.main-section {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: auto;
  translate: var(--section);
  transition: all 1s ease;
}
@media only screen and (max-width: 1024px) {
  .main-section {
    height: auto;
    translate: none;
  }
}
.main-section .section-content {
  padding-bottom: 30px;
  padding: 0 15px;
  width: 100%;
  max-width: 1310px;
}

#notfound-page {
  display: flex;
  flex-direction: column;
}
#notfound-page .notfound-content-section {
  flex-grow: 1;
  display: grid;
  place-items: center;
  text-align: center;
}
#notfound-page .notfound-content-section .notfound-text-container {
  margin-bottom: 50px;
}
#notfound-page .notfound-content-section .notfound-text-container .notfound-text {
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
}
#notfound-page .notfound-content-section .notfound-text-container .notfound-text .notfound-code {
  font-size: 38px;
}
#notfound-page .notfound-content-section .notfound-text-container .notfound-text .notfound-message {
  font-size: 32px;
}
#notfound-page .notfound-content-section .notfound-text-container a {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
}

#hero-section {
  overflow: hidden;
  padding-top: 50px;
}
#hero-section::before {
  content: "";
  position: absolute;
  bottom: 35px;
  height: 3px;
  width: 180px;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.4);
  animation: bouncing 0.8s ease alternate infinite;
}
@keyframes bouncing {
  from {
    bottom: 30px;
  }
  to {
    bottom: 43px;
  }
}

#about-section {
  /*Upper Part*/
  /*Lower Part*/
}
@media only screen and (max-width: 1024px) {
  #about-section {
    padding: 100px 0 100px 0;
  }
}
#about-section .about-me {
  margin-bottom: 90px;
}
#about-section .about-me .about-me-h {
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0d102b;
  margin-bottom: 30px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1024px) {
  #about-section .about-me .about-me-h {
    margin-bottom: 30px;
  }
}
#about-section .about-me .about-me-p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 1rem auto;
  line-height: 1.7rem;
}
@media only screen and (max-width: 1024px) {
  #about-section .about-me .about-me-p {
    width: 100%;
  }
}
#about-section .skill-container {
  text-align: right;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0.2);
}
#about-section .skill-container .skill-title {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 3rem;
  margin-right: 1.5rem;
}
#about-section .skill-container .skill-title::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.9em;
  border-bottom: 1px solid black;
}
@media only screen and (max-width: 480px) {
  #about-section .skill-container .skill-title {
    margin-right: 1rem;
  }
}
#about-section .skill-container .skill-title::before {
  left: -4rem;
}
#about-section .skill-container .skill-list {
  margin: auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 90px));
  justify-content: space-between;
  gap: 50px 10px;
}
#about-section .skill-container .skill-list * {
  color: black;
}

@media only screen and (max-width: 1024px) {
  #project-section {
    padding: 100px 0 100px 0;
  }
}
#project-section .project-heading {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 3rem;
  margin-left: 1.5rem;
  color: rgba(0, 0, 0, 0.9);
}
#project-section .project-heading::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.9em;
  border-bottom: 1px solid black;
}
@media only screen and (max-width: 480px) {
  #project-section .project-heading {
    margin-left: 1rem;
  }
}
#project-section .project-heading::before {
  right: -4rem;
}
#project-section .project-card-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#contact-section {
  position: relative;
  height: calc(100vh - 70px);
}
@media only screen and (max-width: 1024px) {
  #contact-section {
    height: auto;
    padding: 100px 0 120px 0;
  }
}
#contact-section .contact-group {
  padding: 0 15px;
}
#contact-section .contact-h {
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0d102b;
  margin-bottom: 45px;
}
#contact-section .contact-container {
  display: flex;
  gap: 100px;
}
@media only screen and (max-width: 1024px) {
  #contact-section .contact-container {
    gap: 10px;
  }
}
#contact-section .contact-container .contact-element {
  width: 50%;
  margin: auto;
  /*Left Side*/
  /*Right Side*/
}
#contact-section .contact-container .contact-element#message-element {
  text-align: center;
}
#contact-section .contact-container .contact-element#message-element p {
  margin-bottom: 1rem;
  font-size: 18px;
}
@media only screen and (max-width: 1024px) {
  #contact-section .contact-container {
    flex-direction: column;
  }
  #contact-section .contact-container .contact-element {
    width: 100%;
    max-width: 620px;
  }
}
#contact-section footer {
  position: absolute;
  width: 100%;
  bottom: -70px;
}

.project-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
  /*************Tablet & Mobile**************/
}
.project-card:nth-child(1) {
  padding-top: 0;
}
.project-card:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.project-card .project-numbering-container {
  min-width: 50px;
  font-size: 18px;
}
.project-card .project-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.project-card .project-detail-container {
  flex-grow: 1;
}
.project-card .project-detail-container h2 {
  font-weight: 400;
  font-size: 19px;
}
.project-card .project-detail-container .built-with-container {
  margin-left: 10px;
  margin-bottom: 2px;
  translate: 0 -3px;
  font-size: 12px;
}
.project-card .project-detail-container .built-with-container .built-with-item {
  font-family: "Poppins", sans-serif;
  color: #ffa32c;
  padding-right: 0.8rem;
}
.project-card .project-detail-container p {
  margin-left: 10px;
  font-size: 16px;
  color: #333741;
}
.project-card .project-url-container {
  min-width: 250px;
  margin-left: 80px;
  color: rgba(0, 0, 0, 0.9);
}
.project-card .project-view-container {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
  padding-right: 10px;
}
.project-card .project-view-container .project-view-anchor {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
}
.project-card .project-view-container .project-view-anchor svg {
  width: 19px;
  margin-right: 2px;
}
.project-card .project-view-container #placeholder {
  opacity: 0.2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 1024px) {
  .project-card {
    align-items: flex-start;
  }
  .project-card .project-numbering-container {
    min-width: 22px;
  }
  .project-card .project-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    gap: 20px;
  }
  .project-card .project-url-container {
    min-width: 0;
    margin-left: 10px;
  }
  .project-card .project-view-container {
    width: 100%;
    min-width: 0;
    justify-content: center;
    gap: 14px;
    justify-content: space-evenly;
  }
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
  font-size: 18px;
}
.skill-card svg {
  width: 3rem;
  height: auto;
  margin-bottom: 3px;
}

.form-element {
  margin: auto;
  background-color: #fdfdfd;
  height: auto;
  width: 650px;
  max-width: 100%;
}
@media only screen and (max-width: 480px) {
  .form-element {
    width: 100%;
  }
}

.form-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
@media only screen and (max-width: 480px) {
  .form-input-container {
    flex-direction: column;
    justify-content: left;
    gap: 0;
  }
}

.form-element {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  padding: 5px 0;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 480px) {
  .form-element {
    width: 100%;
  }
}
.form-element .form-label {
  pointer-events: none;
  transform-origin: left bottom;
  font-size: 24px;
  transform: translate(0, 1.4rem) scale(1);
  transition: inherit;
  color: #111;
}
.form-element .form-input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 2px;
  background-color: #fdfdfd;
  text-overflow: ellipsis;
  transition: inherit;
  font-size: 18px;
}
.form-element .form-input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}
.form-element .form-input:hover {
  border-bottom: 1px solid #0d102b;
}
.form-element .form-input:hover + .form-label {
  transform: translate(0, 0rem) scale(0.8);
}
.form-element .form-input:hover::-webkit-input-placeholder {
  opacity: 1;
}
.form-element .form-input:focus {
  outline: none;
  border-bottom: 1px solid #0d102b;
}
.form-element .form-input:focus + .form-label {
  transform: translate(0, 0rem) scale(0.8);
}
.form-element .form-input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.form-element .form-input:not(:-moz-placeholder-shown) {
  border-bottom: 1px solid #0d102b;
}
.form-element .form-input:not(:placeholder-shown) {
  border-bottom: 1px solid #0d102b;
}
.form-element .form-input:not(:-moz-placeholder-shown) + .form-label {
  transform: translate(0, 0rem) scale(0.8);
}
.form-element .form-input:not(:placeholder-shown) + .form-label {
  transform: translate(0, 0rem) scale(0.8);
}
.form-element#form-element-textarea {
  width: 100%;
  padding: 20px 0;
}
.form-element#form-element-textarea #form-label-textarea {
  padding: 2px 0;
  transform: scale(1);
  pointer-events: auto;
}
.form-element#form-element-textarea #form-label-textarea:hover {
  transform: scale(0.8);
}
.form-element#form-element-textarea #form-input-textarea {
  border: 1px solid #aaa;
  line-height: 1.1rem;
  resize: none;
  padding: 0.3rem;
}
.form-element#form-element-textarea #form-input-textarea:hover + .form-label {
  transform: scale(0.8);
}
.form-element#form-element-textarea #form-input-textarea:hover::-webkit-input-placeholder {
  opacity: 1;
}
.form-element#form-element-textarea #form-input-textarea:focus {
  border: 1px solid #0d102b;
}
.form-element#form-element-textarea #form-input-textarea:focus + #form-label-textarea {
  transform: scale(0.8);
}
.form-element#form-element-textarea #form-input-textarea:not(:-moz-placeholder-shown) {
  border: 1px solid #0d102b;
}
.form-element#form-element-textarea #form-input-textarea:not(:placeholder-shown) {
  border: 1px solid #0d102b;
}
.form-element#form-element-textarea #form-input-textarea:not(:-moz-placeholder-shown) + #form-label-textarea {
  transform: scale(0.8);
}
.form-element#form-element-textarea #form-input-textarea:not(:placeholder-shown) + #form-label-textarea {
  transform: scale(0.8);
}
.form-element#form-element-textarea #textarea-length {
  width: 100%;
  display: inline-block;
  text-align: right;
  color: black;
  font-size: 13px;
}

#form-input-submit {
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #0d102b;
  border-radius: 0;
  background-color: #0d102b;
  color: #fdfdfd;
  transition: all 0.3s ease;
}
#form-input-submit:hover {
  background-color: #fdfdfd;
  color: #0d102b;
}
#form-input-submit:active {
  color: #aaa;
}

/*
font-family: 'Unna', serif; //h, title
font-family: 'Open Sans', sans-serif; //p, footer
font-family: 'Poppins', sans-serif; //accent, only for project skill
*//*# sourceMappingURL=style.css.map */