@use "../components/App/App";

@use "../components/layouts/Header/Header";
@use "../components/layouts/Footer/Footer";

@use "../components/mains/Home/Home";
@use "../components/mains/About/About";
@use "../components/mains/Contact/Contact";

@use "../components/subs/Projects/Projects";
@use "../components/subs/Skills/Skills";

@use "../components/cards/ProjectCard/ProjectCard";
@use "../components/cards/SkillCard/SkillCard";

@use "../components/interfaces/ContactForm/ContactForm";
@use "../components/interfaces/Navbar/Navbar";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Unna&display=swap");
/*
font-family: 'Unna', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
