@use "../../../styles/abstracts/" as *;

#home {
  & .home-hero {
    margin: auto;
    text-align: center;
    margin: 190px 0 210px 0; //gap

    @include mobile {
      margin: 140px 0 150px 0;
    }

    /*texts*/
    & .home-title {
      font-weight: 100;
      font-size: $font-size-home-title;
      margin-bottom: 100px;

      & .title-element {
        font-weight: 100;
        font-size: $font-size-home-title;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 0.5rem;
        color: $color-black;

        //developer
        & .title-element-span {
          position: relative;
          display: inline;
          padding: 0rem 0.5rem 0.2rem 0.5rem;
          background-color: $color-black;
          white-space: nowrap;
          color: $color-white;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: $color-black;
          }

          &#first-span {
            &::before {
              animation: reveal 1s 0.5s forwards;
            }
          }

          &#second-span {
            &::before {
              animation: reveal 1s 1.2s forwards;
            }
          }

          @keyframes reveal {
            100% {
              left: 99%; //glitch at "100%"
            }
          }
        }
      }
    }

    & .home-intro {
      width: 75vw;
      margin: auto;

      @include tablet {
        width: 90vw;
      }

      & .intro-greeting {
        line-height: 1.5rem;
        font-size: $font-size-h;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        transform: translateY(-2rem);
      }

      & .intro-about {
        line-height: 1.5rem;
        font-size: $font-size-h;
        transform: translateY(-2rem);
      }
    }
  } //end of home-text-container
}
