@use "../../../styles/" as *;

header {
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 10px 50px;
  z-index: 999;

  @include tablet {
    width: 100%;
    background-color: $color-background;
  }

  /* Title */
  & .header-title {
    white-space: nowrap;
    font-size: $font-size-title;
    font-weight: 500;
    text-transform: uppercase;

    @include tablet {
      width: 100%;
      text-align: right;
    }

    & .header-anchor {
      color: $color-font;
      text-decoration: none;
    }
  }

  /* Nav */
  // components/apps/Nav/_Nav.scss
} // end of header
