@use "../../../styles/" as *;

header {
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 0 50px;
  padding-top: 10px;
  z-index: 999;

  @include tablet {
    width: 100%;
    text-align: center;
  }

  & .header-title {
    white-space: nowrap;
    font-size: $font-size-title;
    font-weight: 500;
    text-transform: uppercase;

    & .header-anchor {
      color: $color-font;
      text-decoration: none;
    }
  }

  /* <nav/> */
}
