@use "../../../styles/abstracts/" as *;

.header {
  position: absolute;
  background-color: $color-background;
  z-index: 999;

  & .header-title {
    display: block;
    font-size: $font-size-title;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5rem 20px;
  }

  & .header-anchor {
    color: $color-font-black;
    text-decoration: none;
  }

  @include tablet {
    width: 100%;
    text-align: center;
  }
}
