@use "../../../styles/" as *;

//variables
$menu-size: 19px;
$short-time: 0.3s;
$long-time: 0.6s;

nav {
  /* Desktop */
  flex-grow: 1;
  text-align: right;
  transition: all 0.5s ease;

  & .nav-input {
    display: none;
  }

  & .nav-list {
    transition-property: color;

    &:hover > * {
      color: $color-gray;
    }

    & .nav-element {
      text-transform: uppercase;
      font-size: 16px;
      display: inline-block;
      cursor: pointer;
      transition: inherit;
      color: $color-font;
      user-select: none;

      &:not(:last-child) {
        margin-right: 3.3rem;
      }

      &:hover {
        color: black;
      }
    }
  } //end of nav-list
  /*end of Desktop*/

  /********* Tablet & Mobile ********/
  @include tablet {
    & .nav-input {
      /* closed */
      & + .nav-label {
        display: block;
        position: absolute;
        top: calc(50%);
        left: 15px;
        translate: 0 -50%;

        width: $menu-size;
        height: $menu-size;
        cursor: pointer;
        z-index: 999;

        & .menu-bar {
          position: absolute;
          width: $menu-size;
          height: 1px;
          background-color: black;
          top: 0;
          left: 0;
          border-radius: 999px;

          &:nth-child(1) {
            top: 5px;
          }

          &:nth-child(2) {
            top: 13px;
          }
        }

        & + .nav-list {
          position: fixed;
          width: 100%;
          height: 100vh;
          top: 0;
          left: 0;
          translate: -101% 0;
          background-color: $color-primary;

          display: flex;
          flex-direction: column;
          justify-content: top;
          align-items: center;
          gap: 1.5rem;
          text-align: left;
          padding-top: 120px;

          & .nav-element {
            color: white;
            font-size: $font-size-h;
            width: 100%;
            padding-left: 3rem;

            &:not(:last-child) {
              margin-right: 0;
            }
          }
        }
      } //end of NOT checked label

      /* opened */
      &:checked + .nav-label {
        & .menu-bar {
          width: calc($menu-size - 1px);
          background-color: white;

          &:nth-child(1) {
            animation: top-line $long-time ease forwards;
          }

          &:nth-child(2) {
            animation: bottom-line $long-time ease forwards;
          }
        }

        & + .nav-list {
          translate: 0 0;
          transition: all $short-time ease;
        }
      } //end of checked label
    } //end of nav-input
  } /******* end of Tablet *******/
} //end of nav

/* animations */
@keyframes top-line {
  0% {
  }
  60% {
    top: 6px;
    rotate: 90deg;
  }
  100% {
    top: 6px;
    rotate: 45deg;
  }
}

@keyframes bottom-line {
  0% {
  }
  60% {
    top: 6px;
    rotate: 0deg;
  }
  100% {
    top: 6px;
    rotate: -45deg;
  }
}
