@use "../../../styles/" as *;

nav {
  /* Desktop */
  flex-grow: 1;
  text-align: right;
  transition: all 0.5s ease;

  & .nav-input {
    display: none;
  }

  & .nav-list {
    transition: all ease 0.3s;
    transition-property: color;

    &:hover > * {
      color: $color-gray;
    }

    & .nav-element {
      text-transform: uppercase;
      font-size: 16px;
      display: inline-block;
      cursor: pointer;
      transition: inherit;
      color: $color-font;
      user-select: none;

      &:not(:last-child) {
        margin-right: 3.3rem;
      }

      &:hover {
        color: black;
      }
    }
  } //end of nav-list
  /*end of Desktop*/

  /* Tablet */
  @include tablet {
    position: static;

    & .nav-input {
      & + .nav-label {
        display: block;
        position: absolute;
        top: calc(50% + 4px);
        left: 15px;
        translate: 0 -50%;

        width: 24px;
        height: 24px;
        cursor: pointer;

        & .menu-bar {
          position: absolute;
          width: 24px;
          height: 3px;
          background-color: black;
          top: 0;
          left: 0;
          transition: all 0.3s ease;

          // &:nth-child(1) {
          // }

          &:nth-child(2) {
            top: 10px;
          }
        }
      }

      &:checked + .nav-label {
        & .menu-bar {
          width: 23px;

          &:nth-child(1) {
            top: 5px;
            rotate: 45deg;
          }

          &:nth-child(2) {
            top: 5px;
            rotate: -45deg;
          }
        }
      } //end of checked icon
    } //end of nav-input

    & .nav-list {
      display: none;
      // position: fixed;
      // inset: 0 200px 0 0;
      // background-color: $color-background;
      // backdrop-filter: blur(5px);
      // opacity: 0.9;
    }
  }
  /*end of Tablet*/
} //end of nav
