@use "../../styles/abstracts/" as *;

/***Header***/
.header {
  position: absolute;
  background-color: $color-white;
  display: flex;

  & .header-title {
    display: block;
    font-size: $font-size-title;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 2;
    margin: 0.5rem 20px;
  }

  & .header-refresh {
    color: $color-font-black;
    text-decoration: none;
  }
}

/***Nav***/
nav {
  position: sticky;
  transform: translateY(-15px); //default position
  top: 25px;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  transition: all 0.5s ease;

  &.nav-up {
    transform: translateY(calc(-100% - 15px));
  }

  &.nav-down {
    transform: translateY(-15px);
  }

  @include tablet {
    transform: translateY(-4px);
    top: 4px;

    &.nav-up {
      transform: translateY(calc(-100% - 5px)); //plus 1px
    }

    &.nav-down {
      transform: translateY(-4px);
    }
  }

  .nav-list {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    padding: 7px;
    transition: all ease 0.3s;
    transition-property: color;

    &:hover > * {
      color: $color-gray;
    }

    & .nav-item {
      text-transform: uppercase;
      font-size: $font-size-navbar;
      display: inline-block;
      cursor: pointer;
      transition: inherit;
      color: $color-font-black;
      margin-right: 4rem;

      &:hover {
        color: $color-black;
      }
    } //end of nav-item
  } //end of nav-list
} //end of nav
