@use "../../../styles/abstracts/" as *;

#about-section {
  & .about-me {
    padding-top: 20px;
    padding-bottom: 100px;

    @include mobile {
      padding: 110px 15px 120px 15px;
    }

    & .about-me-h {
      @include main-title(30px);
    }

    & .about-me-p {
      font-size: $font-size-p;
      margin: 1rem auto;
      line-height: 1.6rem;

      @include tablet {
        width: 100%;
      }
    }
  }
} //end of about
