.Header {
  background-color: blue;
  display: flex;
}
.header-title {
  display: block;
  font-size: x-large;
  font-weight: 500;
  background-color: red;
  text-transform: uppercase;
  z-index: 2;
  margin: 0.5rem 0 0.3rem 4vw;
}
.refresh {
  color: white;
  text-decoration: none;
}
