@use "../../../styles/" as *;

footer {
  position: relative;
  display: block;
  background-color: #f5f5f6;

  & .footer-div {
    //Social Bar
    &#first-div {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 20px 2rem 10px 0; //border-line position
      margin-left: auto;

      /* footer border-line */
      // &::before {
      //   content: "";
      //   position: absolute;
      //   inset: 0 0 0 200px;
      //   border-top: solid 1px $color-gray;
      // }

      // ul
      & .footer-list {
        display: flex;
        gap: 1rem; //gap, text|text
        list-style: none;

        // li
        & .footer-item {
          position: relative;
          font-size: $font-size-footer;

          /*contact divider*/
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: -0.5rem; //gap, text|text
            border-right: 1px solid $color-gray;
            height: 0.8rem;
            border-color: $color-gray;
          } //end of divider

          &#last-item::before {
            content: none;
          }

          // a
          & .footer-anchor {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2px;

            & span {
              color: $color-primary;
              font-family: sans-serif;
            }

            &:hover {
              color: $color-gray;
            }

            & svg {
              width: 14px;
            }
          } //end of a
        } //end of li
      } //end of ul
    } //end of first line div

    //Copyright
    &#second-div {
      text-align: center;
      padding-bottom: 12px;

      & .footer-copyright {
        font-size: $font-size-footer;
        color: $color-primary;
        font-family: sans-serif;
        white-space: nowrap;
      }
    } //end of second line div
  } //end of footer-div
} //end of footer
