@use "../../../styles/" as *;

/* Home Page */
#home-page {
  position: relative;
  overflow: hidden;
  height: 100vh;
  transition: all 1s ease;

  @include tablet {
    height: auto;
  }

  /* Side Section Map */
  .section-map-container {
    display: none;

    @media only screen and (min-width: 1440px) {
      // this map is only for desktop
      display: block;
      position: fixed;
      right: 4vw; //position
      bottom: 50%;
      z-index: 999;

      //li
      & .section-map-element {
        //controller
        $element-height: 46px;
        $element-gap: 13px;

        position: absolute;
        height: $element-height;
        background-color: rgb(0 0 0 /0.1);
        list-style: none;
        border-radius: 999px;
        width: 3px;
        right: 0px;
        transition: all 0.5s ease;

        @include tablet {
          display: none;
        }

        &:nth-child(1) {
          top: calc(($element-gap * -3) - ($element-height * 2));
        }
        &:nth-child(2) {
          top: calc(($element-gap * -1) - $element-height);
        }
        &:nth-child(3) {
          top: calc($element-gap);
        }
        &:nth-child(4) {
          top: calc(($element-gap * 3) + $element-height);
        }
      } //end of map-element

      //highlighted
      &.first .section-map-element:nth-child(1),
      &.second .section-map-element:nth-child(2),
      &.third .section-map-element:nth-child(3),
      &.fourth .section-map-element:nth-child(4) {
        width: 5px;
        right: -1px;
        background-color: rgb(0 0 0 /0.2);
      }
    }
  } //end of map-container
} //end of page

/* Main Sections */
.main-section {
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;

  margin: auto;
  translate: var(--section);
  transition: all 1s ease;

  @include tablet {
    height: auto; //this line is making hero deco line to go out of screen.
    translate: none;
  }

  & .section-content {
    padding-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    max-width: 1310px; //1280 + 15 + 15
  }
}
