@use "../../../styles/" as *;

/* Home Page */
#home-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  transition: all 1s ease;

  @include tablet {
    // height: auto;
    overflow: auto;
  }

  /* Side Section Map */
  & .section-map {
    position: fixed;
    right: 80px; //position
    bottom: 50%;
    translate: -50% 0;
    z-index: 999;

    & .section-map-element {
      //controller
      $element-height: 50px;
      $element-gap: 10px;

      position: absolute;
      width: 5px;
      height: $element-height;
      background-color: black;
      list-style: none;
      border-radius: 999px;
      opacity: 0.1;

      @include tablet {
        display: none;
      }

      &:nth-child(1) {
        top: calc(($element-gap * -3) - ($element-height * 2));
      }
      &:nth-child(2) {
        top: calc(($element-gap * -1) - $element-height);
      }
      &:nth-child(3) {
        top: calc($element-gap);
      }
      &:nth-child(4) {
        top: calc(($element-gap * 3) + $element-height);
      }

      &.highlight {
        width: 10px;
      }
    }
  }
} //end of page

/* Main Sections */
.main-section {
  display: grid;
  place-items: center;
  height: 100vh;

  margin: auto;
  translate: var(--section);
  transition: all 1s ease;

  @include tablet {
    height: auto;
    translate: none;
  }

  & .section-content {
    padding-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    max-width: 1310px; //1280 + 15 + 15
  }
}
