@use "../../../styles/" as *;

/* Home Page */
#home-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  transition: all 1s ease;

  @include tablet {
    // height: auto;
    overflow: auto;
  }

  //:not(Hero Section)
  & .section-centering-div {
    position: relative;
    max-width: 100%;
  }
} //end of page

/* Main Sections */
.main-section {
  display: grid;
  place-items: center;
  height: 100vh;

  margin: auto;
  translate: var(--section);
  transition: all 1s ease;

  @include tablet {
    height: auto;
    translate: none;
  }

  & .section-content {
    padding-bottom: 30px;
    padding: 0 15px;
    width: 100%;
    max-width: 1310px; //1280 + 15 + 15
  }
}
