@use "../../../styles/" as *;

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
  font-size: $font-size-small;

  & svg {
    width: 50px;
    height: auto;
    margin-bottom: 4px; //gap, logo|name

    @include tablet {
      width: 45px;
    }
  }
}
