@use "../../../styles/" as *;

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eee;
  font-size: $font-size-p;

  & svg {
    width: 3rem;
    height: auto;
    margin-bottom: 3px; //image + name gap
  }
}
