@use "../../../styles/abstracts/" as *;

#about {
  & .about-me {
    padding: 210px 0 210px 0; //gap

    @include mobile {
      padding: 110px 0 110px 0;
    }

    & .about-me-h {
      @include main-title(3rem);

      @include mobile {
        margin-bottom: 2rem;
      }
    }

    & .about-me-p {
      font-size: $font-size-p;
      margin: 1rem auto;
      width: 70vw;
      line-height: 1.6rem;

      @include tablet {
        width: 90vw;
      }
    }
  }
} //end of about
