@use "../abstracts" as *;

.contact-form {
  margin: auto;
  background-color: $color-white;
  height: auto;
  width: 650px;

  @include tablet {
    width: 90vw;
  }
}

.form-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  @include mobile {
    flex-direction: column;
    justify-content: left;
    gap: 0;
  }
}

//inputs
.form-element {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  padding: 5px 0;
  transition: all 0.3s ease;

  @include mobile {
    width: 100%;
  }

  & .form-label {
    pointer-events: none;
    transform-origin: left bottom;
    font-size: $font-size-sub-title;
    transform: translate(0, 1.4rem) scale(1);
    transition: inherit;
  }

  & .form-input {
    border: none;
    border-bottom: 1px solid $color-gray;
    padding: 2px;
    background-color: $color-white;
    text-overflow: ellipsis;
    transition: inherit;
    font-size: $font-size-p;

    &::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }
    //focus
    &:focus {
      outline: none;
      border-bottom: 1px solid $color-black;
      & + .form-label {
        transform: translate(0, 0rem) scale(0.8);
      }
      &::-webkit-input-placeholder {
        opacity: 1;
      }
    }
    //not-empty
    &:not(:placeholder-shown) {
      border-bottom: 1px solid $color-black;
      & + .form-label {
        transform: translate(0, 0rem) scale(0.8);
      }
    }
  }
}

//textarea
#form-element-textarea {
  width: 100%;
  padding: 20px 0;

  & #form-label-textarea {
    padding: 2px 0;
    transform: scale(1);
  }

  & #form-input-textarea {
    border: 1px solid $color-gray;
    line-height: 1.1rem;
    resize: none;
    padding: 0.3rem;

    &:focus {
      border: 1px solid $color-black;

      & + #form-label-textarea {
        transform: scale(0.8);
      }
    }

    &:not(:placeholder-shown) {
      border: 1px solid $color-black;

      & + #form-label-textarea {
        transform: scale(0.8);
      }
    }
  }

  & #textarea-length {
    width: 100%;
    display: inline-block;
    text-align: right;
    color: black;
    font-size: x-small;
  }
}

//submit-button
#form-input-submit {
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  font-size: $font-size-p;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid $color-black;
  border-radius: 0;
  background-color: $color-black;
  color: $color-white;
  transition: all 0.3s ease;

  &:hover {
    background-color: $color-white;
    color: $color-black;
  }

  &:active {
    color: $color-gray;
  }
}
