@use "../../abstracts" as *;

.project-card {
  position: relative;
  border: 1px solid $color-main;
  background-position: center;
  background-size: cover;
  // background: linear-gradient(transparent 50%, $color-main 100%);
  //dev
  background-color: lightcoral;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent, $color-main 80%, $color-main 100%);
  }

  & .project-thumbnail {
    width: 100%;
    height: auto;
  }

  & .project-detail {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: all 0.5s ease 2s;
    overflow: hidden;

    &.hovered {
      visibility: visible;
      opacity: 1;
    }

    & .project-h {
      font-weight: 100;
    }

    & .project-p {
      font-family: sans-serif;
      font-size: $font-size-h;
    }

    & .project-with {
      & .built-with-item {
        margin-right: 2rem;
      }
    }
  }
}
