@use "../../abstracts" as *;

.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem 1rem;
  @include width;
  color: $color-black;
  margin: auto;
  padding: 5px;

  @include tablet {
    display: flex;
    flex-flow: column;
  }

  //image
  & .project-thumbnail {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: auto;

    & img {
      display: block;
      width: 100%;
    }
  }

  //text
  & .project-text-container {
    padding: 1.5rem;
    white-space: pre-wrap;
    // background-color: $color-white;
    color: white;

    & .project-h {
      font-weight: 100;
      font-size: calc(27px + 0.5vmin);
    }

    & .project-with {
      margin-bottom: 1.5rem;

      & .built-with-item {
        margin-right: 2rem;
        font-family: "Poppins", sans-serif;
        font-size: $font-size-footer;
      }
    }

    & .project-p {
      // font-family: sans-serif;
      margin-bottom: 2.5rem;
      font-size: $font-size-p;
    }
  }

  //button
  & .project-view {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;

    & .project-view-button {
      text-decoration: none;
      padding: 0.5rem 2rem;
      outline: 1px solid white;
      outline-offset: -4px;
      cursor: pointer;
      border: 1px solid white;
      background-color: white;
      color: $color-black;
      transition: all 0.3s ease;

      &:hover {
        background-color: $color-black;
        color: white;
      }

      &#placeholder {
        visibility: hidden;
      }
    }
  }

  /*******************variations********************/
  &.multi-img {
    grid-template-columns: repeat(12, minmax(1rem, 1fr));
    grid-template-rows: minmax(1rem, 1fr);

    & .project-thumbnail {
      height: auto;
      margin: auto;
      object-fit: contain;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      @include tablet {
        display: none;
      }

      &.num0 {
        grid-column: 1 / 5;
        grid-row: 1;
      }

      &.num1 {
        grid-column: 5 / 9;
        grid-row: 1;
      }

      &.num2 {
        grid-column: 9 / 13;
        grid-row: 1;
      }

      &.num3 {
        grid-column: 1/5;
        grid-row: 2;
      }

      &.num4 {
        display: none;

        @include tablet {
          display: block;
        }
      }
    }

    & .project-text-container {
      grid-column: 5 / -1;
      grid-row: 2;
    }
  } //end of multi-img

  &.right-img {
    & .project-thumbnail {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
    }

    & .project-text-container {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }
  } //end of right-img

  &.left-img {
    & .project-thumbnail {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }

    & .project-text-container {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
    }
  } //end of left-img
}
