@use "../../abstracts" as *;

.project-card {
  border: 1px solid $color-blue;
  padding: 5px;
  margin: auto;
  @include width;
  color: $color-black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: $color-white;
  margin-bottom: 15vh;

  @include mobile {
    margin-bottom: 5vh;
  }

  //image-div
  & .project-image-container {
    width: 100%;
    grid-column: 1 / 7;
    grid-row: 1 / -1;

    & .project-thumbnail {
      width: 100%;
      height: auto;
      object-fit: contain;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }

  //text-div
  & .project-details-container {
    grid-column: 7 / -1;
    grid-row: 2 / 5;

    transition: all 0.5s ease 2s;
    overflow: hidden;
    white-space: pre-wrap;

    &.hovered {
      visibility: visible;
      opacity: 1;
    }

    & .project-h {
      font-weight: 100;
    }

    & .project-p {
      font-family: sans-serif;
      font-size: $font-size-h;
    }

    & .project-with {
      & .built-with-item {
        margin-right: 2rem;
      }
    }

    & .project-description {
      margin: 2rem 0;
    }
  }

  //view buttons: Live, Repo
  & .project-view {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin: 1rem 0;

    & .project-view-button {
      border: 1px solid $color-white;
      color: $color-white;
      padding: 0.5rem 2rem;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: $color-white;
        color: $color-black;
      }

      &#placeholder {
        visibility: hidden;
      }
    }
  }
}
