@use "../../abstracts" as *;

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;

  & svg {
    width: 3rem;
    height: auto;
    margin-bottom: 2px; //image + name gap
  }
}
