@use "../../../styles/" as *;

#notfound-page {
  display: flex;
  flex-direction: column;

  & .notfound-text-container {
    flex-grow: 1;
    display: grid;
    place-items: center;
    text-align: center;
    margin-bottom: 100px;

    & .notfound-text {
      display: block;
      font-weight: 400;
      margin-bottom: 10px; //gap, message|link

      & .notfound-code {
        font-size: 38px;
      }

      & .notfound-message {
        font-size: 32px;
      }
    } //end of text

    & a {
      font-size: $font-size-p;
      color: $color-font;
    } //end of anchor
  }
}
