@use "abstracts" as *;

#about {
  & .about-me {
    margin-bottom: 10vh;

    & .about-me-h {
      @include main-title;
    }

    & .about-me-p {
      margin: 1rem auto;
      width: 70vw;
    }
  }
} //end of about
