@use "abstracts" as *;

.contact-form {
  background-color: $color-light;
  border: $border-thin;
  width: 400px;
  padding: 0px;
}
.form-element {
  margin: 20px;
  & .form-input {
  }
  &#form-element-textarea {
    #textarea-max-length {
      width: 100%;
      display: inline-block;
      text-align: right;
      color: black;
      &#textarea-max-length-number {
      }
    }
  }
}
#form-input-submit {
  display: block;
  padding: 5px 12px;
  padding-top: 3px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  //input
  background-color: var(--theme-color);
  line-height: 1;
  font-size: small;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0s;
  &:active {
    background-color: var(--hover-color);
    border: $border-thin;
  }
}
