@use "abstracts" as *;

footer {
  position: absolute;
  bottom: 0;
  background-color: $color-dark;
  width: 100%;
  height: $footer-height;
  font-family: sans-serif;
  color: whitesmoke;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .footer-div {
    width: 100%;
    text-align: left;
    padding: 0 1rem;

    & .footer-list {
      display: flex;
      gap: 1rem;
      list-style: none;

      & .footer-item {
        font-size: 2vmin;

        & .footer-anchor {
          text-decoration: none;
          color: $color-light2;
        }
      }
    }
  }

  & .footer-div#copyright-div {
    border-top: 1px solid #1e1e1e;
    text-align: center;

    & .footer-copyright {
      font-size: 16px;
    }
  }
} //end of footer
