@use "abstracts" as *;

footer {
  background-color: $color-dark;
  width: 100%;
  height: $footer-height;
  color: $color-light;
  overflow: hidden;

  & .footer-div {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    text-align: left;
    width: 100%;
    padding: 3px 1rem;
    height: 3.5vh;

    & .footer-list {
      display: flex;
      gap: 1rem;
      list-style: none;

      & .footer-item {
        position: relative;
        font-size: 16px;

        &:nth-child(1):before,
        &:nth-child(2):before {
          content: "";
          position: absolute;
          top: 0;
          right: -0.5rem;
          border-right: 1px solid $color-light2;
          height: 0.8rem;
          border-color: $color-light2;
        }

        & .footer-anchor {
          text-decoration: none;
          color: $color-light2;
          font-family: sans-serif;
        }
      }
    }
  }

  & .footer-div#copyright-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #1e1e1e;
    height: 3.5vh;

    & .footer-copyright {
      font-size: 16px;
      padding: 2px;
      font-family: sans-serif;
      color: $color-light2;
    }
  }
} //end of footer
