@use "abstracts" as *;

footer {
  display: block;
  background-color: $color-black;
  color: $color-white;

  & .footer-div {
    &#first-div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      width: 100%;
      padding: 0 1rem;
      height: 4vh;

      //my-contact
      & .footer-list {
        display: flex;
        gap: 1rem;
        list-style: none;
        transform: translateY(2px); //slight adjustment

        & .footer-item {
          position: relative;
          font-size: $font-size-footer;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: -0.5rem;
            border-right: 1px solid $color-gray;
            height: 0.8rem;
            border-color: $color-gray;
          }

          &#last-item::before {
            content: none;
          }

          & .footer-anchor {
            text-decoration: none;
            color: $color-gray;
            font-family: sans-serif;
          }
        }
      }
    } //end of first line div

    &#second-div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-top: 1px solid #1e1e1e;
      height: 4vh;

      & .footer-copyright {
        font-size: $font-size-footer;
        font-family: sans-serif;
        color: $color-gray;
        white-space: nowrap;
      }
    } //end of seond line div
  }
} //end of footer
