@use "abstracts" as *;

#home {
  & .intro-title {
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 2rem;
    text-align: center;
  }

  & .intro-greeting {
    margin-bottom: 5vh;
    text-align: center;
  }
}
