@use "abstracts" as *;

nav {
  display: flex;
  justify-content: center;
  position: sticky;
  transform: translateY(-25px); //default
  top: 25px;
  z-index: 1;
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  transition: all 0.5s ease;

  &.navup {
    transform: translateY(calc(-100% - 26px));
  }
  &.navdown {
    transform: translateY(-25px);
  }

  @include mobile-large {
    transform: translateY(-8px);
    top: 8px;
    &.navup {
      transform: translateY(calc(-100% - 9px));
    }
    &.navdown {
      transform: translateY(-8px);
    }
  }
}
.nav-list {
  display: inline-flex;
  justify-content: space-evenly;
  gap: 7vw;
  padding: 7px;
  transition: all ease 0.3s;
  transition-property: color;

  &:hover > * {
    color: #bbb;
  }
}
.nav-item {
  text-transform: uppercase;
  font-size: 19px;
  display: inline-block;
  cursor: pointer;
  transition: inherit;
  color: white;

  &:hover {
    color: white;
  }
}
