@use "abstracts" as *;

#skills {
  & .skill-title {
    @include sub-title;
    margin-bottom: 1rem;

    @include tablet {
      margin-left: 0;
    }
  }

  & .skill-list {
    width: 80vw;
    margin: auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 10vw));
    justify-content: space-evenly;
    gap: 2rem;

    & .skill-item {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      color: $color-black;

      & svg {
        width: 4rem;
        height: auto;
      }
    }
  }
} //end of skills
