@use "abstracts" as *;

#skills {
  //test
  background-color: blue;
  display: flex;
  justify-content: center;

  & .skill-list {
    background-color: green;
    list-style: none;
    display: flex;
    gap: 2rem;

    & .skill-item {
      background-color: $color-white;
      color: $color-black;

      & img {
        width: 100px;
        height: auto;
      }
      & svg {
        width: 500px;
        height: auto;
      }
    }
  }
}
