@use "../abstracts" as *;

.projects {
  //dev
  background-color: lightgreen;

  & .project-sub-title {
    @include sub-title(left);
  }

  & .project-container {
    display: flex;
    flex-flow: wrap;
    gap: 5vw;
    margin: auto;
    width: 75vw;

    @include mobile {
      width: 90vw;
    }

    //dev
    background-color: lightblue;
  }
}
