@use "../abstracts" as *;

.projects {
  & .project-sub-title {
    @include sub-title(left);
  }

  & .project-container {
    display: flex;
    flex-flow: wrap;
    gap: 5vw;
    width: 70vw;
    margin: auto;
    background-color: lightblue;

    @include tablet {
      width: 90vw;
    }
  }
}
