@use "../../../styles/" as *;

.project-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.2rem 0; //card gap

  &:not(:last-child) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      border-bottom: 1px solid rgb(0 0 0 / 0.2);
    }
  }

  //1.project numbering
  & .project-numbering-container {
    min-width: 50px; //area
    font-size: $font-size-small;
  }

  //2.project detail
  & .project-detail-container {
    flex-grow: 1;

    & h2 {
      font-weight: 400;
      font-size: $font-size-p;
    }

    & .built-with-container {
      margin-left: 10px;
      font-size: 12px;

      & .built-with-item {
        font-family: "Poppins", sans-serif;
        color: $color-secondary;
        padding-right: 0.5rem;
      }
    }

    & p {
      margin-left: 10px;
      font-size: $font-size-small;
      color: $color-font-light;
    }
  }

  //3.project url
  & .project-url-container {
    min-width: 230px; //area
    margin-left: 80px;
    color: $color-font;
  }

  //4.project view
  & .project-view-container {
    display: flex;
    gap: 14px;
    min-width: 120px; //area

    & .project-view-anchor {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: $font-size-small;

      & svg {
        width: 19px;
      }
    }

    & #placeholder {
      visibility: hidden;
    }
  }
}
