@use "../../../styles/abstracts/" as *;

.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem 1rem;
  color: $color-black;
  width: 100%;
  margin: auto;
  padding: 10px;

  @include tablet {
    display: flex;
    flex-flow: column;
  }

  //image
  & .project-thumbnail {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: auto;

    & img {
      display: block;
      width: 100%;
    }
  }

  //text
  & .project-text-container {
    padding: 1.5rem;
    white-space: pre-wrap;
    color: white;

    @include mobile {
      padding: 0.5rem;
    }

    & .project-h {
      font-weight: 100;
      font-size: calc(31px + 1vmin);
    }

    & .project-with-container {
      margin-bottom: 2rem;

      & .built-with-item {
        margin-right: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-size: $font-size-footer;
        color: $color-sub;
      }
    }

    & .project-p {
      font-family: "Open Sans", sans-serif;
      margin-bottom: 2.5rem;
      font-size: $font-size-project;
      line-height: 1.6rem;
      color: $color-font;
    }
  }

  //button
  & .project-view {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    font-size: $font-size-p;

    & .project-view-button {
      text-decoration: none;
      padding: 0.4rem 1.5rem;
      outline: 1px solid white;
      outline-offset: -4px;
      cursor: pointer;
      border: 1px solid white;
      background-color: white;
      color: $color-black;
      transition: all 0.3s ease;

      &:hover {
        background-color: $color-black;
        background-color: transparent;
        color: white;
      }

      &#placeholder {
        visibility: hidden;
      }
    }
  }

  /*******************variations********************/
  &.multi-img {
    grid-template-columns: repeat(12, minmax(1rem, 1fr));
    grid-template-rows: minmax(1rem, 1fr);

    & .project-thumbnail {
      height: auto;
      margin: auto;
      object-fit: contain;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      @include tablet {
        display: none;
      }

      &.num0 {
        grid-column: 1 / 5;
        grid-row: 1;
      }

      &.num1 {
        grid-column: 5 / 9;
        grid-row: 1;
      }

      &.num2 {
        grid-column: 9 / 13;
        grid-row: 1;
      }

      &.num3 {
        grid-column: 1/5;
        grid-row: 2;
      }

      &.num4 {
        display: none;

        @include tablet {
          display: block;
          & img {
            max-height: 450px;
            @include mobile {
              max-height: 200px;
            }
          }
        }
      }
    }

    & .project-text-container {
      grid-column: 5 / -1;
      grid-row: 2;
    }
  } //end of multi-img

  &.right-img {
    & .project-thumbnail {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
    }

    & .project-text-container {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }
  } //end of right-img

  &.left-img {
    & .project-thumbnail {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }

    & .project-text-container {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
    }
  } //end of left-img

  &.mobile-img {
    grid-template-columns: repeat(6, minmax(1rem, 1fr));
    grid-template-rows: minmax(1rem, 1fr);

    @include tablet {
      flex-flow: row;
    }

    & .project-thumbnail {
      &.num0 {
        width: 196px;
        height: 373px;

        grid-column: 1/2;
        grid-row: 1 / -1;

        @include tablet {
          display: none;
        }
      }

      &.num1 {
        width: 196px;
        height: 373px;
        overflow: hidden;

        grid-column: 2/3;
        grid-row: 1 / -1;

        @include tablet {
          width: 400px;
          min-width: 250px;
          height: auto;
        }

        @include mobile {
          min-width: 160px;
          margin-top: 10px; //cancel margin: auto;
        }
      }
    }

    & .project-text-container {
      grid-column: 3 / -1;
      grid-row: 1 / -1;

      @include mobile {
        min-width: 150px;
      }
    }

    @include mobile {
      & #placeholder {
        display: none;
      }
    }
  } //end of mobile card
}
