@use "../../../styles/" as *;

.project-card {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 0; //card gap

  &:nth-child(1) {
    padding-top: 0; //gap, sub-title|first-project-card
  }

  //divider
  &:not(:last-child) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      border-bottom: 1px solid rgb(0 0 0 / 0.2);
    }
  }

  //1.project numbering
  & .project-numbering-container {
    min-width: 50px; //area
    font-size: $font-size-p;
  }

  //2, 3, 4 container
  & .project-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  //2.project detail
  & .project-detail-container {
    flex-grow: 1;

    & h2 {
      font-weight: 400;
      font-size: 19px;
    }

    & .built-with-container {
      margin-left: 10px;
      margin-bottom: 3px;
      translate: 0 -3px;
      font-size: 12px;

      & .built-with-item {
        font-family: "Poppins", sans-serif;
        color: $color-secondary;
        padding-right: 0.8rem;
      }
    }

    & p {
      margin-left: 10px;
      font-size: $font-size-small;
      color: $color-font-light;
    }
  }

  //3.project url
  & .project-url-container {
    min-width: 250px; //area
    margin-left: 80px;
    color: $color-font;
  }

  //4.project view
  & .project-view-container {
    display: flex;
    justify-content: space-between;
    min-width: 150px; //area of links
    padding-right: 10px;

    & .project-view-anchor {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: $font-size-p;
      color: $color-font;

      & svg {
        width: 20px;
        margin-right: 2px; //gap, logo|text
      }
    }

    & #placeholder {
      opacity: 0.2;
      user-select: none;
    }
  }

  /*************Tablet & Mobile**************/
  @include tablet {
    align-items: flex-start;

    //1.project numbering
    & .project-numbering-container {
      min-width: 22px; //area
    }

    //2, 3, 4 container
    & .project-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
    }

    //2.project detail
    & .project-detail-container {
      flex-grow: 1;

      & .built-with-container {
        margin-bottom: 10px; //gap built-with|detail
      }
      & p {
        margin-bottom: 10px; //gap, detail|url
      }
    }

    //3.project url
    & .project-url-container {
      min-width: 0; //area
      margin-left: 10px;
      margin-bottom: 15px; //gap, url|link
    }

    //4.project view
    & .project-view-container {
      width: 100%;
      min-width: 0; //area
      padding-right: 0;
      gap: 20px;
      justify-content: space-evenly;
    }
  }
  /*************end of Tablet & Mobile**************/
} //end of each project card
